* {
    color: white;
}

body {
    background-color: #c2c2c2;
}

#mainWrap {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

#headerWrap {
    width: 1200px;
    height: 200px;
}

.logoWrap {
    width: 300px;
    height: 200px;
    float: left;
    background-color: #1cf1f1;
}

.logoWrap img{
    width: 300px;
    height: 200px;
}

.bannerWrap {
    width: 900px;
    height: 200px;
    float: right;
    background-color: #c70dbe;
}

.bannerWrap img{
    width: 900px;
    height: 200px;
}

#menuWrap {
    width: 1200px;
    height: 80px;
    background-color: blueviolet;
}

#menuWrap ul li{
    list-style: none;
    float: left;
    padding-right: 20px;
}

#menuWrap ul li a{
    text-decoration: none;
}

#msgWrap {
    width: 1200px;
    height: 400px;
    background-color: #05512b;
}

#programBoxWrap {
    width: 1200px;
    height: 400px;
}
.box
{
    width: 400px;
    height: 400px;
    float: left;
}
#footerWrap {
    width: 1200px;
    height: 50px;
    background-color: black;
}