* {
    color: white;
}

body {
    background-color: #c2c2c2;
}

#mainWrap {
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

#headerWrap {
    width: 1200px;
    height: 200px;
}

.logoWrap {
    width: 300px;
    height: 200px;
    float: left;
    background-color: #1cf1f1;
}

.logoWrap img{
    width: 300px;
    height: 200px;
}

.bannerWrap {
    width: 900px;
    height: 200px;
    float: right;
    background-color: #c70dbe;
}

.bannerWrap img{
    width: 900px;
    height: 200px;
}

#menuWrap {
    width: 1200px;
    height: 80px;
    background-color: blueviolet;
}

#menuWrap ul{
    margin: 0;
    padding-top: 27px;
}
#menuWrap ul li{
    list-style: none;
    float: left;
    padding-right: 20px;
}
#menuWrap ul li:hover{
    background-color: #161cc7;
}

#menuWrap ul li a{
    text-decoration: none;
    font-size: 28px;
}

#msgWrap {
    width: 1160px;
    height: 360px;
    background-color: #dadada;
    padding: 20px;
    color: black;
    font-size: 28px;
    /* overflow: hidden; */
    text-align: justify;
}
#msgWrap img{
    width: 20%;
    height: auto;
    float: left;
    margin-right: 20px;
}

#programBoxWrap {
    width: 1200px;
    height: 400px;
}
.box
{
    width: 400px;
    height: 400px;
    float: left;
}
.box img{
    width: 400px;
    height: 400px;
}
#footerWrap {
    width: 1200px;
    height: 50px;
    background-color: black;
}
#footerWrap p{
    margin: 0;
    padding-top: 15px;
    text-align: center;
}