body{
    margin: 0;
    padding: 0;
    background-color: #c2c2c2;
}
#mainWrap{
    width: 800px;
    height: auto;
    margin: 0 auto;
    max-width: 800px;
}
header{
    width: 100%;
    height: 100px;
    background-color: blue;
}
.logo{
    width: 150px;
    height: 100px;
    float: left;
}
.logo img{
    width: 150px;
    height: 100px;
}
.banner
{
    width: 650px;
    height: 100px;
    float: right;
}
.banner img{
    width: 650px;
    height: 100px;
}