*{
    font-size: 18px;
}
body{
    margin: 0;
    padding: 0;
    background-color: #d0d0db;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#mainWrap{
    width: 800px;
    height: auto;
    margin: 0 auto;
    max-width: 800px;
}
header{
    width: 100%;
    height: 100px;
    background-color: #d0d0db;
}
.logo{
    width: 150px;
    height: 100px;
    float: left;
}
.logo img{
    width: 150px;
    height: 100px;
}
.banner
{
    width: 650px;
    height: 100px;
    float: right;
}
.banner img{
    width: 650px;
    height: 100px;
}
nav{
    width: 800px;
    height: 60px;
    background-color: #240202;
}
nav ul{
    padding-top: 20px;
    margin-top: 0;
}
nav ul li{
    float: left;
    list-style: none;
    padding: 0 10px;
}
nav ul li:hover{
    background-color: blue;
}
nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 18px;
}
#message{
    width: 100% - 40px;
    height: auto;
    background-color: white;
    padding: 20px;
}
#message img{
    width: 200px;
    height: auto;
    margin: 0 20px 0 0;
    float: left;
}
#programs{
    width: 100%;
    height: 240px;
    background-color: #e7e9e9;
}
#programs .title h2{
    text-transform: capitalize;
    margin-left: 10px;
    padding: 10px;
}
#programs .program{
    width: 160px;
    height: auto;
    float: left;
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
}
#programs .program img{
    width: 150px;
    height: auto;
}